a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #99C01A;
}

input[type=number] {
    width: 3em;
}

body {
    margin: 0;
    padding-top: 5px;
    background: #e6e6e6;
    font-family: verdana;
    font-size: 11pt; 
    width: 100%;
}

#status {
    width: 50px;
    padding-top: 5px;
    margin-bottom: 5px;
    background: url('/img/status.png');
    background-size: 50px;
    background-position: right 5px;
    background-repeat: no-repeat;
}

#status_image {
    width: 50px;
    height: 50px;
}

#status_image.online {
    content:url('/img/online.png');
}

#status_image.offline {
    content:url('/img/offline.png');
}

#status_image.paused {
    content:url('/img/paused.png');
}

#status_image.undefined {
    content:url('');
}

#controls {
    border-collapse: collapse;
}

#menu {
    position: fixed;
    height: 100%;
    width: 50px;
    text-align: center;
    margin-right: 15px;
    margin-top: -5px;
    padding: 0;
    background: white;
    border-right: 1px solid #b9b6b6;
    -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.3);
}

.menu {
    width: 50px;
    height: 50px;
    border-bottom: 1px solid #b9b6b6;
}

.menu > a > img {
    padding-top: 2.5px;
    width: 45px;
    height: 45px;
}

.menu:hover {
    background: #ebeaea;
}

.menu.inactive {
    background: #ebeaea;
    pointer-events: none;
    cursor: default;
}

.menu > a > img {
    width: 35px;
    height: 35px;
    padding-top: 7.5px;
}

#main {
    text-align: center;
    position: relative;
    width: 600px;
    margin: 0px auto;
    
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

#buildings {
    position: relative;
    empty-cells: show;
    border-collapse: collapse;
    text-align: center;
    margin: 5%;
    background: white;
    width: 90%;
}

.building > td {
    border: 1px solid #C9C9C9;
    padding: 7px 5px 7px 5px;
}

.remove_sign {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}

#add_sign {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

#adding_row {
    display: none;
}

#build {
    margin-top: 15px;
}

input[name='server'], input[name='username'], input[name='password'] {
    margin-top: 5px;
}

.input {
    margin-bottom: 15px;
}

#footer_placeholder {
    height: 20px;
}

#footer {
    position: relative;
    height: 20px;
    margin-top: -21px;

    line-height: 20px;
    vertical-align: middle;

    width: 100%;
    text-align: center;
    font-size: 7pt;
}

#github_logo {
    width: 10px;
    height: 10px;
}

#sign_out {
    width: 100px;
    height: 20px;
    float: right;
    vertical-align: middle;
}

#sign_out_logo {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    float: right;
}

.res {
    width: 18px;
    height: 14px;

    background: url('/img/res.png');
    display: inline-block;
}

#r1 {
    background-position: 0px 0px; 
}

#r2 {
    background-position: 0px -21px; 
}

#r3 {
    background-position: 0px -44px;
}

#r4 {
    background-position: 0px -64px; 
}