a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #99C01A;
}

div h1 {
    text-align: center;
    margin-top: -10px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}

div h1 span {
    background-color: white;
}

#right {
    float: right; 
    width: 54%;
}

#left {
    float: left; 
    width: 46%;
}

#log_container {
	border: 1px solid #C9C9C9;
    margin-top: 2px;
    padding-left: 2px;
}

#status_text {
    margin-left: 10px;
}

input[type=number] {
    width: 3em;
}

.remove_sign {
    width: 20px;
    height: 20px;
}

#add_sign {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

#buildings {
    empty-cells: show;
    border-collapse: collapse;
    text-align: center;
    margin-top: 15px;
}

.building > td:not(.remove) {
    border: 1px solid #C9C9C9;
    padding: 7px 5px 7px 5px;
}

.remove {
    padding-left: 5px;
    padding-top: 7px;
}

#build {
    margin-top: 15px;
}

input[name='server'], input[name='username'], input[name='password'] {
    margin-top: 5px;
}

.input {
    margin-bottom: 15px;
}

#config_saved {
    display: none;
}

#config_changed {
    display: none;
}

#controls {
    display: none;
}

#adding_row {
    display: none;
}

#status {
    display: none;
    float: left;
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #000;
}

#header {
    background-color: #C9C9C9;
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 10px;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#main {
    margin-top: 60px; 
}