<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='content-type' content='text/html; charset=utf-8' />
		<link rel='shortcut icon' href='img/favicon.ico' />

		<link rel='stylesheet' type='text/css' href='style/style.css'/>
		<link rel='stylesheet' type='text/css' href='style/progress.css'/>

		<script src="js/jquery-1.11.2.min.js"></script>
		<script src='js/ajax.js'></script>
		<script src='js/script.js'></script>

		<title>Travian bot</title>
	</head>
	<body>
		<div id='menu'>
			<img id='status' src='img/status.png'>
			<div id='controls'>
				<div id='offline_controls'>
					<a href="#" onclick='ajaxStartBot();'><img class="menu" src="img/start.png"></a>
				</div>
				<div id='online_controls'>
					<a href="#" onclick='ajaxStopBot();'><img class="menu" src="img/stop.png"></a>
					<a href="#" id='pause' onclick='ajaxPauseBot();'><img class="menu" src="img/pause.png"></a>
					<a href="#" id='unpause' onclick='ajaxUnpauseBot();'><img class="menu" src="img/start.png"></a>
				</div>
			</div>
		</div>
		<div id='main'>
			<div id='left'>
				<div id='config_changed'>
					<a href='#' onclick='ajaxSaveConfig();'>Save</a> | 
					<a href='#' onclick='ajaxUpdateConfig();'>Reset</a>

				</div><div id='config_saved'>Config successfully saved</div>

				<form id='config_container'>
					{% include "config.html" %}
				</form>
			</div>
			<div id='right'>
				<div id='log_container'>
					<h1><span>Log:</span></h1>
					<div id='log'>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</body>
</html>