<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='content-type' content='text/html; charset=utf-8' />
		<link rel='shortcut icon' href='img/favicon.ico' />

		<link rel='stylesheet' type='text/css' href='style/style.css'/>
		<link rel='stylesheet' type='text/css' href='style/progress.css'/>

		<script src="js/jquery-1.11.2.min.js"></script>
		<script src='js/ajax.js'></script>
		<script src='js/script.js'></script>

		<title>Travian bot</title>
	</head>
	<body>
		<div id='menu'>
			{% include "menu.html" %}
		</div>
		<div id='sign_out'>
			<a href='#'>Sign out <img src='img/sign_out.png' id='sign_out_logo'></a>
		</div>
		<div id='main'>
			<div id='content'>
				<form id='config_container'>
					{% include "config.html" %}
				</form>
			</div>
			<div id="footer_placeholder"></div>
		</div>
		<div id='footer'>
			Made by <a href='https://github.com/rozetko'>rozetko <img src='img/github.png' id='github_logo'></a>
		</div>
	</body>
</html>	