<table id='buildings'>
	<thead>
		<tr class='building'>
			<td>Village</td>
			<td>Resources</td>
			<td>Field ID</td>
			<td>To</td>
			<td>Skip</td>
			<td class="remove"></td>
		</tr>
	</thead>
	<tbody>
		{% for building in buildings %}
			{% include "row.html" %}
		{% endfor %}
		<tr class="building">
			<td colspan="6">
				<a class='change' id='add_row_button' href='#add_row_button' onclick='addRow();'>
					<img id='add_sign' src='img/add.png'>
				</a>
			</td>
		</tr>
	</tbody>
</table>

<!-- Progress: -->
<div id='adding_row'>
	<div class='f_circleG' id='frotateG_01'>
	</div>
	<div class='f_circleG' id='frotateG_02'>
	</div>
	<div class='f_circleG' id='frotateG_03'>
	</div>
	<div class='f_circleG' id='frotateG_04'>
	</div>
	<div class='f_circleG' id='frotateG_05'>
	</div>
	<div class='f_circleG' id='frotateG_06'>
	</div>
	<div class='f_circleG' id='frotateG_07'>
	</div>
	<div class='f_circleG' id='frotateG_08'>
	</div>
</div>